# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
gen/

# Eclipse
.project
.classpath
.csettings/
.settings/
bin/
tmp/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Maven
target/

# Gradle
.gradle/
build/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Environment
.env

